body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  text-align: center;
}

.todo-add-container {
  display: flex;
  justify-content: center;
  width: 30vw;
  margin: 0 auto 15px auto;
}

.task-container {
  display: flex;
  width: 30vw;
  margin: 10px auto;
}
